*{
    margin: 0;
    padding: 0;
}
.Fail{
    background-color: red;
    color: white;
}
.Pass{
    background-color: green;
    color: white;
}

.header{
    background-color: rgba(85, 85, 239, 0.765);
    .header-img{
        width: 50%;
    }
   h1{
    color: aliceblue;
   }
}
#section{
    background-color: rgba(128, 206, 234, 0.833);
    
    
}
#regSec{
    margin-bottom: 20px;
    .container{
        width: 50%;
        margin-top: 20px;
    }
    label{
        width: 60%;
        white-space: nowrap;
    }
    .btn{
        width: 30%;
        position: relative;
        left: 35%;
    }
}

#resultMakeSec{
    .container{
        width: 80%;
        margin-top: 20px;
    }
    .btn{
        width: 30%;
        position: relative;
        left: 35%;
    }
}

#studentListSec{
    table{
        width: 100%;
        text-align: center;
        tr,th,td {
            border: 3px solid black;
        }
    }
}